# Xcode
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build artifacts
.build/
*.build/

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Accidental files
.DS_Store
.idea/
*.log

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Misc
*.swp
*~